<!DOCTYPE html>
<html>
<head>
    <title>Lista de Vehículos</title>
</head>
<body>

<h1>Vehículos registrados</h1>

<a href="/crear/">Agregar vehículo</a>

<table border="1">
    <tr>
        <th>Placa</th>
        <th>Marca</th>
        <th>Color</th>
        <th>Modelo</th>
        <th>Acciones</th>
    </tr>

    {% for v in vehiculos %}
    <tr>
        <td>{{ v.placa }}</td>
        <td>{{ v.marca }}</td>
        <td>{{ v.color }}</td>
        <td>{{ v.modelo }}</td>
        <td>
            <a href="/editar/{{ v.id }}/">Editar</a> |
            <a href="/eliminar/{{ v.id }}/">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
